version: "3.8"

services:
  db:
    image: mysql:8.0
    container_name: lastpage-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 12345678    # 원하는 값
      MYSQL_DATABASE: lastpage       # DB 이름
#      MYSQL_USER: lastpage
#      MYSQL_PASSWORD: 12345678
    ports:
      - "3307:3306"                    # 로컬에서 DB 접속용
    volumes:
      - db_data:/var/lib/mysql
    command: [
      "--character-set-server=utf8mb4",
      "--collation-server=utf8mb4_unicode_ci"
    ]
    healthcheck:
      test: ["CMD","mysqladmin","ping","-h","localhost"]
      interval: 3s
      timeout: 5s
      retries: 10

  redis:
    image: redis:7-alpine
    container_name: lastpage-redis
    ports:
      - "6379:6379"

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: lastpage-app
    depends_on:
        db:
          condition: service_healthy
        redis:
          condition: service_started
    ports:
      - "8090:8090"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      # DB 접속 정보 (Spring에서 ${...} 로 사용 가능)
      SPRING_DATASOURCE_URL: jdbc:mysql://lastpage-mysql:3306/lastpage?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 12345678

      # Redis 설정
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379

volumes:
  db_data:
