*,
    *::before,
    *::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      position: relative;
      margin: 0;
    }


    /* 헤더 */

    .header-wrapper {
      width: 100%;
      margin: 0 auto;
      padding-top: 120px;
    }

    header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100px;
      background-color: #2C3930;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      transition: top 0.3s ease;
      z-index: 1000;
    }

    .logo img {
      width: 60px;
      height: 60px;
      display: block;
    }

    nav {
      margin: 0 auto;
      margin-bottom: 0;
    }

    nav ul {
      list-style: none;
      display: flex;
      gap: 30px;
      margin-bottom: 0 ;
    }

    nav ul li {
      position: relative;
      cursor: pointer;
    }

    nav ul li>a {
      color: #dcd7c9;
      text-decoration: none;
      padding: 8px;
      display: inline-block;
    }
    a:hover {
      color: #fff;
    }

    /* 드롭다운 */
    nav ul li>ul {
      display: none;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      background: #3f4f44;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
      list-style: none;
      padding: 10px 0;
      min-width: 100px;
      z-index: 12;
    }

    nav ul li:hover>ul {
      display: block;
    }

    nav ul li>ul li>a {
      color: #dcd7c9;
      text-decoration: none;
      display: block;
      padding: 8px 15px;
      text-align: center;
    }

    nav ul li>ul li>a:hover {
      color: #a2725c;
    }

    .auth {
      display: flex;
      gap: 15px;
    }

    .auth a {
      color: #dcd7c9;
      text-decoration: none;
      padding: 8px;
    }

    

    
    /* 메인컨텐츠를 스파이하는 사이드 배더 스타일링 */
main-wrapper {
      margin-top: 120px;
    }

    section {
      height: 700px;
      padding: 50px;
      font-size: 24px;
      border-bottom: 1px solid #ccc;


    }
    


    /* 메인컨텐츠를 스파이하는 사이드 배너 */
    #list-example {
      position: fixed;
      top: 40%;
      right: 20px;
      transform: translateY(-50%);
      z-index: 3;
      width: 120px;
      background-color: #2C3930;


    }

    .list-group-item {
      position: relative;
      display: block;
      padding: .5rem 1rem;
      color: #212529;
      text-decoration: none;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, .125);
    }

    *::before,
    *::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: #2C3930;
    }

    .list-group-item.active {
      z-index: 2;
      color: #fff;
      background-color: #2C3930;
      border-color: #2C3930;
    }

    .list-group-item-action:focus,
    .list-group-item-action:hover {

      z-index: 2;
      color: #fff;
      background-color: #2C3930;
      border-color: #2C3930;
    }

    /* 푸터 */
    footer {
      width: 100%;
      height: 900px;
      background-color: #2C3930;
      margin-top: 20px;
      padding: 20px;
      color: #fff;
    }

    @media (max-width : 968px) {
      header {
        justify-content: center;
      }

      nav,
      .auth {
        display: none;
      }
    }