<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 공통영역 -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="./common.html"> -->
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/Goods.css}">

    <title>Goods</title>
</head>

<body>
<div class="header-wrapper">
    <div id="header-container"></div>
</div>

    <!-- 메인 -->
    <main>
        <!-- 배너 -->
        <div class="banner_yj">
            <div class="overlay_yj">
                <div class="banner-text_yj">
                    <h1>그리움이 머무는 작은 공간</h1>
                    <p>작은 물건에 담긴 마음이 당신에게 큰 위로가 되길 바라며</p>
                </div>
            </div>
        </div>

        <!-- 타이틀 -->
        <h1 class="goods-title_yj effect_yj">굿즈소개</h1>

        <!-- 컨텐츠 -->
        <div class="contentbox-wrapper_yj effect_yj">
            <a class="contentbox_yj" href="#">
                <img src="../Asset/메모리얼사진2.webp" alt="">
                <div class="contentbox-text_yj">
                    <h4>메모리얼 스톤</h4>
                    <p>“반려동물의 유골을 정성스럽게 가공해 만든 메모리얼 스톤은, 반려동물과의 인연을 늘 가까이 느낄 수 있는 특별한 방식입니다. 목걸이·반지·팔찌 등 일상 속에서 함께할
                        수 있는 형태로 제작됩니다.”</p>
                </div>
            </a>
            <a class="contentbox_yj" href="#">
                <img src="../Asset/털보관함사진1.webp" alt="">
                <div class="contentbox-text_yj">
                    <h4>추억 보관함</h4>
                    <p>“반려동물의 소중한 체모를 간직하여 언제든 따뜻한 기억을 떠올릴 수 있는 추억보관함입니다. 작은 흔적 하나에도 담긴 사랑을 오래도록 곁에 두세요.”</p>
                </div>
            </a>
            <a class="contentbox_yj" href="#">
                <img src="../Asset/메모리얼스톤사진3.webp" alt="">
                <div class="contentbox-text_yj">
                    <h4>유골함(임시)</h4>
                    <p>“소중한 반려동물의 유골을 안전하고 편안하게 곁에 둘 수 있는 유골함입니다. 차분하고 따뜻한 디자인으로, 언제나 평온한 마음으로 추억을 되새길 수 있도록
                        도와드립니다.”</p>
                </div>
            </a>
        </div>

        <!-- 리뷰 -->
        <!-- 이미지 추후 고객 리뷰 이미지 적용? -->
        <h1 class="goods-title_yj effect_yj">Review</h1>
        <div class="reviewbox-wrapper_yj">
            <div class="reviewbox_yj effect_yj" href="#">
                <img src="../Asset/메모리얼사진2.webp" alt="">
                <div class="reviewbox-text_yj">
                    <h4>메모리얼 스톤</h4>
                    <div class="user-review_yj">
                        <h6>pu**y님의 후기</h6>
                        <p>2025.09.15</p>
                    </div>
                    <p>“반려동물의 유골을 정성스럽게 가공해 만든 메모리얼 스톤은, 반려동물과의 인연을 늘 가까이 느낄 수 있는 특별한 방식입니다. 목걸이·반지·팔찌 등 일상 속에서 함께할
                        수 있는 형태로 제작됩니다.”</p>
                    <a href="">더보기</a>
                </div>
            </div>
            <div class="reviewbox_yj effect_yj" href="#">
                <img src="../Asset/털보관함사진1.webp" alt="">
                <div class="reviewbox-text_yj">
                    <h4>메모리얼 스톤</h4>
                    <div class="user-review_yj">
                        <h6>ki**y님의 후기</h6>
                        <p>2025.09.15</p>
                    </div>
                    <p>“반려동물의 유골을 정성스럽게 가공해 만든 메모리얼 스톤은, 반려동물과의 인연을 늘 가까이 느낄 수 있는 특별한 방식입니다. 목걸이·반지·팔찌 등 일상 속에서 함께할
                        수 있는 형태로 제작됩니다.”</p>
                    <a href="">더보기</a>
                </div>
            </div>
            <div class="reviewbox_yj effect_yj" href="#">
                <img src="../Asset/메모리얼스톤사진3.webp" alt="">
                <div class="reviewbox-text_yj">
                    <h4>메모리얼 스톤</h4>
                    <div class="user-review_yj">
                        <h6>ham**er님의 후기</h6>
                        <p>2025.09.15</p>
                    </div>
                    <p>“반려동물의 유골을 정성스럽게 가공해 만든 메모리얼 스톤은, 반려동물과의 인연을 늘 가까이 느낄 수 있는 특별한 방식입니다. 목걸이·반지·팔찌 등 일상 속에서 함께할
                        수 있는 형태로 제작됩니다.”</p>
                    <a href="">더보기</a>
                </div>
            </div>
        </div>

        <!-- 예약 바로가기 -->
        <a class="goods-reserv_yj effect_yj" href="/reserve/goods_reserve">
            <div class="reserv-text_yj">예약 바로가기</div>
        </a>


    </main>

    <!-- 푸터 -->
<div id="footer-container"></div>
<button id="scrollToTopBtn" title="맨 위로 가기">↑</button>
<script src="/js/goods.js"></script>
<script src="/js/header.js"></script>
<script src="/js/footer.js"></script>

</body>

</html>